/*La herencia se aplica con el valor inherit, esto obliga al elemento a heredar la propiedad de su elemento más cercano.

La cascada es el orden en el que se aplican los estilos al ir leyhendo el css. Los estilos que vienen después sobreescriben a los anteriores.

La especificidad es el peso que tiene un selector cuando hay conbflicto de estilos. Los conflictos de estilos es cuando se le da a un mismo elemento un estilo de 2 maneras distintas.

La especificidad le gana a la cascada

La w3c divide la especificidad en:
Etiqueta                    0,0,0,1
Clases y pseudoclases       0,0,1,0
Id                          0,1,0,0
Estilos en linea            1,0,0,0
!Important                  Gana a todo, no se debe usar nunca a no ser que no quede otra opción

important -> especificidad -> cascada*/

/* Herencia
p{
    color: red;
}

a{
    color: inherit;
} */

#parrafo{
    color: blueviolet;
}

.parrafo{
    color: blue; /*En este caso, la clase parrafo cambia de color a azul sin importar lo que hay abajo ya que tiene un peso de 10, a diferencia de la etiqueta p, que tiene un peso de 1 */
}

p{
    color: red;
}

a{
    color:inherit;
}

p{
    color:green; /*Gana este color porque está debajo de los anteriores.*/
}


.parrafo-2{
    color: black !important; /*Tener 2 important es lo mismo que ninguno lo tenga. Acá la cascada no importa y se guia por la especificidad*/
}


p{
    color:green !important; /*Al usar important, cualquier conflicto de estilo que haya, se resuelve. No es buena idea usarlo ya que al tener un código extenso, puede generar conflictos*/
}

