.input,
.label {
    display: block;
}

/*
UI States
    :enabled
    :disabled
    :checked
    :in-range
    :out-of-range
    :required
    :optional
    :valid
    :invalid
    :read-only
    :read-write
*/

.input:enabled{
    background: red;
}

.input:disabled{
    background: yellow;
    border: none;
}

.input:checked + label{
    font-size: 2em;
}

.input:in-range{
    background:green;
}

.input:out-of-range{
    background: blue;
}

.input:optional{
    background: purple;
}

.input:required{
    background: lightskyblue;
}

.input:valid{
    background: lightgreen;
}

.input:invalid{
    background: orange;
}